<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Тхостов Константин</title>

  <th:block layout:fragment="cascasestyles">
    <link th:href="@{/resources/css/wysihtml5/bootstrap3-wysihtml5-editor.css}" media="all" rel="stylesheet" type="text/css"/>
  </th:block>

</head>
<body>

<h1>INDEX.HTML</h1>
<!--<div layout:fragment="header-container"></div>-->

<main layout:fragment="content">
<div id="main" role="main">
  <div class="carousel-image flexslider" id="carousel-example-1">
    <ul class="slides">
    <li class="item" th:each="crsl : ${carousel}">
    <!--<li class="item" th:each="crsl : ${carousel}">-->
      <div class="container">


      <!--  <div class='row'>
          <div class='col-sm-12 col-md-8 animate'>
            <h1 class='fadeInDownBig animated' style='font-size:46px; color:white; line-height:60px;'>Новые стандарты в новом учебном году</h1>
            <blockquote class='blockquote-reverse fadeInUpBig animated'><p style="color:white; font-size:21px; line-height:38px; font-style:italic">"...Мы вошли в череду очень интересных событий. Каждый последующий год будет сильно отличаться от года предыдущего введением новых федеральных государственных образовательных стандартов для следующей параллели детей..."</p>
              </blockquote>
          </div>
          <a class='btn btn-bordered btn-white btn-lg fadeInUpBig animated'>Читать</a>
        </div>-->


        <div class="row" >
          <div class="col-sm-12 animate">
            <h1 th:utext="${crsl.title}" class="animated" style="font-size:46px;color:white;" th:classappend="${crsl.titleClass}"/>
          <div th:utext="${crsl.content}" class="animated" style="font-size:21px; color:white;" th:classappend="${crsl.contentClass}"/>
          </div>
          <a class="btn btn-bordered btn-white btn-lg animated" th:classappend="${crsl.linkClass}" th:href="@{${crsl.link}}"
              th:if="${(not #strings.isEmpty(crsl.link)) and (#strings.containsIgnoreCase(crsl.link, 'blog') )}">Читать</a>
          <a class="btn btn-bordered btn-white btn-lg animated" th:classappend="${crsl.linkClass}" th:href="@{${crsl.link}}"
              th:if="${(not #strings.isEmpty(crsl.link)) and (#strings.containsIgnoreCase(crsl.link, 'video') )}">Смотреть</a>
          <a target="_blank" class="btn btn-bordered btn-white btn-lg animated" th:classappend="${crsl.linkClass}" th:href="@{${crsl.link}}"
             th:if="${(not #strings.isEmpty(crsl.link)) and (#strings.containsIgnoreCase(crsl.link, 'http') )}">Перейти</a>

        </div>

      </div>
    </li>

    <!--<li class="item">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 animate">
            <h2 class="big fadeInLeftBig animated">
              Проект 1
            </h2>

            <p class="normal fadeInRightBig animated">Описание проекта и еtс...</p>
            <a class="btn btn-contrast btn-lg fadeInDownBig animated" th:href="home" th:text="#{button.read}"/>
          </div>
        </div>
      </div>
    </li>
    <li class="item">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 animate">
            <h2 class="big fadeInRightBig animated">Проект 2</h2>

            <p class="normal fadeInLeftBig animated">Описание проекта и еtс...</p>
            <a class="btn btn-contrast btn-lg fadeInUpBig animated" th:href="home" th:text="#{button.read}"/>
          </div>
        </div>
      </div>
    </li>-->
  </ul>
</div>

<div id="main-content" >
<div class="container">
  <!--<div class="row vertical-center">-->
  <div class="row">

    <div class="col-xs-6 col-md-6 col-lg-6 vcenter">
      <img class="img-rounded center-block" height="250" th:src="@{/resources/img/tkhostov1.jpg}"/>
      <p class="lead text-center" th:utext="#{main.site.about}"/>
    </div><!--
--><div class="col-xs-6 col-md-6 col-lg-6 vcenter">
      <h4 class="text-center">Приветствую Вас на своем официальном сайте!</h4>
      <blockquote class="blockquote-reverse">
        <p class="text-justify small" th:utext="#{main.site.hello}"/>
        <small>
          С уважением К.Э. Тхостов
        </small>
      </blockquote>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class='page-header page-header-with-icon'>
        <i class='fa-icon-ok-sign'></i>
        <h3 class="lead">Общественная интернет-приемная<br/>"Активный гражданин"</h3>
      </div>
    </div>
  </div>

  <div class="row panels">
    <div class="col-sm-6">
        <p class="lead text-center">Ответы на Ваши вопросы</p>
      <div class='row text-boxes'>
        <div class='col-sm-12 text-box' th:each="answer : ${newest_answers}">
          <div class="row">
          <h5 class='title' th:text="${answer.question.questionText}"/>

          <!--<div class="toolbar">
            <a class='btn btn-link' th:href="@{/}">
              <i class="fa-icon-calendar-empty"></i>
              <time th:datetime-local="ru" th:datetime="${answer.question.date}" th:text='${#dates.format(answer.question.date, "dd MMMM yyyy HH:mm")}'/>
            </a>
            <a class='btn btn-link' href='#'>
              <i class='fa-icon-user'></i>
              <span th:text="${answer.question.author}"/>
            </a>
            <a class='btn btn-link btn-xs' th:href="@{/}">
              <span>Категория: <span th:text="${answer.question.category.name}"/></span>
            </a>
          </div>-->
            <blockquote class="mg-b-lg">
              <p class="mg-b-lg text-justify" th:utext="${answer.answerText}"/>
              <small>
                <time th:datetime-local="ru" th:datetime="${answer.date}" th:text='${#dates.format(answer.date, "dd MMMM yyyy HH:mm")}'/>
              </small>
            </blockquote>

            <a class="btn btn-contrast btn-md mg-b-md" th:href="@{/activepeople}" th:text="Вопрос-Ответ"/>

            <!--<hr class="hr-half"/>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <p class="lead text-center">Задайте&nbsp;свой&nbsp;вопрос!</p>
      <form id="send-question" th:action="@{/activepeople/addquestion}" th:object="${question}" class='form' method='post'  enctype="multipart/form-data">
        <fieldset>
          <div class='row'>
            <div class='col-sm-6'>
              <div class='form-group control-group'>
                <input class='form-control' th:field="*{author}" data-rule-required='false' id='author' name='author' placeholder='Ваше имя' type='text'/>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='form-group control-group'>
                <input class='form-control' data-rule-email='false' data-rule-required='false' id='contact_email' name='contact_email' placeholder='Ваш E-Mail' type='text'/>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <div class='form-group control-group'>
                <textarea class='form-control' id='questionText' name='text_question' placeholder='Ваш вопрос...' rows='10' th:field="*{questionText}"/>
                <td th:if="${#fields.hasErrors('questionText')}" th:errors="*{questionText}">Name Error</td>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <button id="newQuestion" name="newQuestion" class='btn btn-contrast btn-block' type="button">Задать вопрос</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

<!--<div class="row panels">
  <div class="col-sm-4 panel-item">
    <a class="panel panel-image" th:href="home">
      <div class="panel-icon">
        <i class="fa-icon-time"></i>
      </div>
      <div class="panel-heading"><img class="img-responsive-sm" alt="Project planning" width="768" height="300"
                                      th:src="@{/resources/img/demo/panels/panel_bg_compass.jpg}"/></div>
      <div class="panel-body">
        <h3 class="panel-title" th:text="#{lyceum.number}">Лицей 369</h3>

        <p align="justify" th:text="#{lyceum.start.info}">Мы приглашаем вас посетить школьную страничку и погрузиться в яркий, красочный, многоликий мир детства Лицея № 369.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-4 panel-item">
    <a class="panel panel-image" th:href="home">
      <div class="panel-icon">
        <i class="fa-icon-cog"></i>
      </div>
      <div class="panel-heading"><img class="img-responsive-sm" alt="Easy customizable" width="768" height="300"
                                      th:src="@{/resources/img/demo/panels/panel_bg_hat.jpg}"/></div>
      <div class="panel-body">
        <h3 class="panel-title" th:text="#{young.teacher}">Молодые учителя</h3>

        <p align="justify" th:text="#{young.teacher.info}">Мы обращаемся к молодым учителям и студентам педагогических вузов России с предложением войти в состав Ассоциации молодых учителей России, созданную Всероссийским педагогическим собранием.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-4 panel-item">
    <a class="panel panel-image" th:href="home">
      <div class="panel-icon">
        <i class="fa-icon-rocket"></i>
      </div>
      <div class="panel-heading"><img class="img-responsive-sm" alt="Fastest workers" width="768" height="300"
                                      th:src="@{/resources/img/demo/panels/panel_bg_chess.jpg}"/></div>
      <div class="panel-body">
        <h3 class="panel-title">Проект 1</h3>

        <p>Здесь представлено описание проекта 1, о котором мы хотели бы Вам рассказать</p>
      </div>
    </a>
  </div>
</div>-->


  <div class='row panels'>
    <div class='col-sm-12'>
      <div class='page-header page-header-with-icon'>
        <i class='fa-icon-comment'></i>
        <h2 th:text="#{newest.blog}">Новые статьи</h2>
      </div>
      <div class='row text-boxes'>
        <div class='col-sm-4 text-box' th:each="post : ${newest_posts}">
          <div class='row'>
            <!--<div class='col-sm-4'><img class="img-responsive center-block" alt="Lorem ipsum dolor sit amet" width="340" height="188" src="assets/images/demo/common/devices.jpg" /></div>-->
            <div class='col-sm-12'>
              <h3 class='title' th:text="${post.title}"><a href="#">Lorem ipsum dolor sit amet</a></h3>
              <div class='toolbar'>
                <a class='btn btn-link' href='#'>
                  <i class='fa-icon-calendar-empty'></i>
                  <time th:datetime-local="ru" th:datetime="${post.createdAt}" th:text='${#dates.format(post.createdAt, "dd MMMM yyyy HH:mm")}'/>
                </a>
              </div>
              <div class="text-justify" th:utext="${post.summary}"/>
              <a class='btn btn-contrast btn-bordered btn-xs' th:href="@{'/blog/'+${post.id}}">Читать</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">


    <div class="row">
      <div class="col-sm-6">
        <div class="page-header page-header-with-icon">
          <i class="fa-icon-quote-right"></i>

          <h2 th:text="${#strings.capitalize('__#{latest.twitts}__')}" ></h2>
        </div>
        <div id="tweets" layout:include="/home/tweets :: tweet"/>
      </div>
      <div class="col-sm-6">
        <div class="page-header page-header-with-icon">
          <i class="fa-icon-quote-right"></i>

          <h2 th:text="${#strings.capitalize('__#{latest.googlesearch}__')}" ></h2>
        </div>
        <div id="googleapi" layout:include="/home/googleapi :: googlesearch"/>
      </div>
    </div>

  </div>
</div>
</div>
</div>
<div class="fade" id="scroll-to-top">
  <i class="fa-icon-chevron-up"></i>
</div>

</div>
</main>

<script>
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","../www.google-analytics.com/analytics.js}","ga");

    ga("create", "UA-44249116-1", "bublinastudio.com");
    ga("send", "pageview");
</script>

<th:block layout:fragment="script">
  <script th:src="@{/resources/js/jquery/jquery.validate.min.js}" type="text/javascript"></script>
  <script th:src="@{/resources/js/jquery/jquery.blockui.js}"      type="text/javascript"></script>
  <script th:src="@{/resources/js/pages/activepeople.js}"         type="text/javascript"></script>

  <script th:inline="javascript">
    var submitForm = document.querySelector('#send-question');
    $('#newQuestion').click(function(e){
      var valid = $('#send-question').valid();
      console.log('valid = ' + valid);
      if (valid === true) {
        e.preventDefault();
        $.blockUI({
          message: 'Пожалуйста, подождите',
          baseZ: 99999999999999999,
          css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .3,
            color: '#fff'
          }
        });

        setTimeout(function () {
          submitForm.submit();
        }, 300);
      }
    });
  </script>

  <script th:inline="javascript">
    var timer = setInterval(function (){
      console.log("ajax setInterval");
      $.ajax({
        type: 'GET',
        url:'tweets',
//        dataType: 'text',
        beforeSend: function(){
          $('#tweets').html('<p class="text-center"><img th:src="@{/resources/img/ajax-loader.gif}"/></p>');
        },

        success: function(data){
      //    $('#tweets').html(data);
      //    $('#dataTEST').html(data);
         // window.location.reload(true);
        //  clearInterval(timer);
        //  console.log("data-> " + data);
          if (data.length > 0){
            $('#tweets').html(data);
            console.log("ajax COMPLETE");
            clearInterval(timer);
          }
        }
      });
    }, 2000);

  </script>

  <script th:inline="javascript">
    var timerGoogle = setInterval(function (){
      console.log("googlesearch setInterval");
      $.ajax({
        type: 'GET',
        url:'googlesearch',
//        dataType: 'text',
        beforeSend: function(){
          $('#googleapi').html('<p class="text-center"><img th:src="@{/resources/img/ajax-loader.gif}"/></p>');
        },

        success: function(data){
          //    $('#tweets').html(data);
          //    $('#dataTEST').html(data);
          // window.location.reload(true);
          //  clearInterval(timer);
          //  console.log("data-> " + data);
          if (data.length > 0){
            $('#googleapi').html(data);
            console.log("ajax google COMPLETE");
            clearInterval(timerGoogle);
          }
        }
      });
    }, 3000);

  </script>
</th:block>

</body>
</html>