<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

  <head>
    <title>Статьи</title>
    <meta content='all' name='robots'/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'/>

  </head>
  <body class='faq-page'>
    <div id='wrapper'>

      <main  layout:fragment="content">

      <div id='main' role='main'>
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>Статьи</h1>
                <ol class='breadcrumb'>
                  <li>
                    <a th:href="@{/index}">
                      <i class='fa-icon-home'></i>
                    </a>
                  </li>
                  <li class='active'>Статьи</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div id="main-content">
          <div class="container">
            <div class="row">
              <div class="col-md-push-9 col-sm-push-8 col-sm-4 col-md-3">
                <nav class="sidebar">
                  <div>
                    <div class="box">
                      <h3 class='title'>Поиск</h3>
                      <form th:action="@{/blog/search}" method='post'>
                        <div class='input-group'>
                          <input id="q" name="q" class='form-control' placeholder='Поиск...' type='text'/>
                          <span class='input-group-btn'>
                            <button class='btn btn-contrast' type='submit'>
                              <i class='fa-icon-search'></i>
                            </button>
                          </span>
                        </div>
                      </form>
                    </div>

                    <!--Категории-->
                    <div class='box'>
                      <h3 class='title'>Категории</h3>
                      <div class="list-group">
                        <a th:each="category : ${categories}" class="list-group-item" th:href="@{'/blog/category/'+${category.id}}" >
                            <i class='fa-icon-angle-right fa-icon-fixed-width'/>
                            <span th:text="${category.name}"/>
                        </a>
                      </div>
                    </div>

                    <!--Твиты-->
                    <div class='box social-box'>
                      <h3 class='title'>Твиты</h3>
                      <div class='icon-boxes icon-boxes-nowrap'>
                        <div th:each="tweet : ${tweets}" class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa-icon-twitter text-contrast'></i>
                          </div>
                          <div class='content'>
                            <p th:utext="${tweet.value}">
                              <!--<br/>
                              <a class='time' href='#'>
                                <i th:text="${tweet.getCreatedAt()}"/>
                              </a>-->




                            </p>
                            <a th:href="@{'https://twitter.com/intent/retweet?tweet_id='+${tweet.key}}" class="retweet" style="display:inline-block;font-family:georgia,serif;font-size:12px;color:#000;text-decoration:none;padding:1px 5px;border:1px solid #ccc;border-radius:3px;background-color:#ddd;background:linear-gradient(to bottom, #f6f6f6, #ddd)">Retweet</a>
                            <style>.retweet:hover{opacity:0.9}</style>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>

              <!-- Статьи-->
              <div class="col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9">
                <div th:each="article : ${articles}" class="text-boxes">
                  <div class='row text-box text-box-title-above'>
                    <div class='col-sm-12'>
                      <h2 class="title"><a th:href="@{'/blog/'+${article.id}}" th:text="${article.title}"/></h2>
                      <div class="toolbar">
                        <a class='btn btn-link' th:href="@{/}">
                          <i class="fa-icon-calendar-empty"></i>
                          <time th:datetime-local="ru" th:datetime="${article.createdAt}" th:text='${#dates.format(article.createdAt, "dd MMMM yyyy HH:mm")}'/>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa-icon-user'></i>
                          <span th:text="${article.author}"/>
                        </a>
                      </div>
                      <div class='row'>
                        <!--TODO вставить фотки-->
                        <!--<div class='col-sm-3'>
                          <a href='blog_single_post.html'>
                            <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" width="189" height="129" src="assets/images/demo/blog/1.jpg" />
                          </a>
                        </div>-->
                        <div class='col-sm-12'>
                          <p class="text-justify" th:utext="${article.summary}"/>
                          <a class="btn btn-contrast btn-bordered btn-xs" th:href="@{'/blog/'+${article.id}}">Читать</a>
                        <!--  <a class="btn btn-contrast btn-bordered btn-xs" th:href="@{'/blog/tweet/'+${article.id}}">Твитнуть</a>-->


                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class='hr-half'/>
                </div>

                <!-- Paging -->
                <nav>
                  <div class="text-center">
                    <ul class="pagination">
                      <li th:if="${paginationInfo.previousVisible}">
                        <a th:href="@{'/blog/'(page=${paginationInfo.previousPageNumber})}" >
                          <i class="fa-icon-angle-left"/>
                        </a>
                      </li>

                      <li th:each="element : ${paginationInfo.pageElement}" >

                      <li  th:if="${element.navigable}">
                        <a th:href="@{'/blog/'(page=${element.label})}" th:text="${element.label}" />
                      </li>
                      <li th:if="${!element.navigable and element.currentPage}" class="active">
                        <a class="disabled" th:text="${element.label}" />
                      </li>
                      <li th:unless="${element.navigable or element.currentPage}">
                        <a th:text="${element.label}" />
                      </li>
                      </li>
                      <li th:if="${paginationInfo.nextVisible}">
                        <a th:href="@{'/blog/'(page=${paginationInfo.nextPageNumber})}">
                          <i class="fa-icon-angle-right"/>
                        </a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>

            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
      </main>
    </div>

  </body>
</html>
