<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/layout">
<head>
  <title></title>
</head>
<body>
<main layout:fragment="content">

  <div class='page-header page-header-with-icon'>
    <i class='fa-icon-table'></i>
    <h3>Вопрос-ответ</h3>
  </div>

  <!-- Paging -->
  <nav>
    <ul class="pagination pagination-sm">
      <li th:if="${paginationInfo.previousVisible}">
        <a th:href="@{'/admin/allquestions/'(page=${paginationInfo.previousPageNumber})}" >
          <i class="glyphicon glyphicon-menu-left"/>
        </a>
      </li>

      <li th:each="element : ${paginationInfo.pageElement}" >

      <li  th:if="${element.navigable}">
        <a th:href="@{'/admin/allquestions/'(page=${element.label})}" th:text="${element.label}" />
      </li>
      <li th:if="${!element.navigable and element.currentPage}" class="active">
        <a class="disabled" th:text="${element.label}" />
      </li>
      <li th:unless="${element.navigable or element.currentPage}">
        <a th:text="${element.label}" />
      </li>
      </li>
      <li th:if="${paginationInfo.nextVisible}">
        <a th:href="@{'/admin/allquestions/'(page=${paginationInfo.nextPageNumber})}">
          <i class="glyphicon glyphicon-menu-right"/>
        </a>
      </li>
    </ul>
  </nav>

  <div class="row">
    <div class='col-sm-12'>
    <div class='panel-group accordion accordion-bordered' id='accordion'>
    <div th:each="answer : ${answers}" class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title'>
          <a class='accordion-toggle collapsed' data-parent="#accordion" data-toggle='collapse'
             th:text="${answer.question.questionText}" th:href="@{'#accordion-item-'+${answer.id}}"/>
        </h4>
      </div>
      <div class='panel-collapse collapse' id='accordion-item-1' th:id="@{'accordion-item-'+${answer.id}}">
        <div class="toolbar">

          <a class='btn btn-link' th:href="@{/}">
            <i class="fa-icon-calendar-empty"></i>
            <time th:datetime-local="ru" th:datetime="${answer.question.date}" th:text='${#dates.format(answer.question.date, "dd MMMM yyyy HH:mm")}'/>
          </a>
          <a class='btn btn-link' href='#'>
            <i class='fa-icon-user'></i>
            <span th:text="${answer.question.author}"/>
          </a>
          <a class='btn btn-link' th:href="@{/}">
            <span>Категория: <span th:text="${answer.question.category.name}"/></span>
          </a>
        </div>
        <div class='panel-body'>
          <time th:datetime-local="ru" th:datetime="${answer.date}" th:text='${#dates.format(answer.date, "dd MMMM yyyy HH:mm")}'/>
          <br/>
          <span th:utext="${answer.answerText}"/>
        </div>

        <div class="modal-footer">
          <div class="btn-toolbar" role="toolbar" aria-label="...">
            <a class="btn btn-success btn-sm" th:href="@{'/admin/answer/'+${answer.id}+'/publish'}"   th:text="Опубликовать"        th:if="${answer.isPublic == false}" />
            <a class="btn btn-success btn-sm" th:href="@{'/admin/answer/'+${answer.id}+'/unpublish'}" th:text="Отменить_публикацию" th:if="${answer.isPublic == true}"  />
            <a class="btn btn-primary btn-sm" th:href="@{'/admin/answer/'+${answer.id}+'/edit'}"      th:text="Редактировать"/>
            <a class="btn btn-danger  btn-sm" th:href="@{'/admin/answer/'+${answer.id}+'/delete'}"    th:text="Удалить"/>
           </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- Paging -->
  <nav>
    <ul class="pagination pagination-sm">
      <li th:if="${paginationInfo.previousVisible}">
        <a th:href="@{'/admin/allquestions/'(page=${paginationInfo.previousPageNumber})}" >
          <i class="glyphicon glyphicon-menu-left"/>
        </a>
      </li>

      <li th:each="element : ${paginationInfo.pageElement}" >

      <li  th:if="${element.navigable}">
        <a th:href="@{'/admin/allquestions/'(page=${element.label})}" th:text="${element.label}" />
      </li>
      <li th:if="${!element.navigable and element.currentPage}" class="active">
        <a class="disabled" th:text="${element.label}" />
      </li>
      <li th:unless="${element.navigable or element.currentPage}">
        <a th:text="${element.label}" />
      </li>
      </li>
      <li th:if="${paginationInfo.nextVisible}">
        <a th:href="@{'/admin/allquestions/'(page=${paginationInfo.nextPageNumber})}">
          <i class="glyphicon glyphicon-menu-right"/>
        </a>
      </li>
    </ul>
  </nav>

</main>

<th:block layout:fragment="script">
  <script th:src="@{/resources/js/pages/allquestions.js}" type="text/javascript"></script>
</th:block>
</body>
</html>