<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
  <title>Статьи</title>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap/bootstrap3-wysihtml5.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap/bootstrap-theme.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap/font-awesome.min.css}"/>

</head>
<body>



<main layout:fragment="content">



  <div class="row row-centered">
    <div class="col-md-7 col-centered" role="main">
      <form th:with="create=1" th:action="@{/admin/addarticle}" th:object="${article}" method="post">
        <div class="form-group">
          <label for="title">Название</label>
          <input id="title" class="form-control" type="text" name="title" maxlength="100" th:field="*{title}"/>
        </div>

        <div class="form-group">
          <label for="author">Автор</label>
          <input id="author" class="form-control" type="text" name="author" maxlength="100" th:field="*{author}"/>
        </div>

        <div class="form-group">
          <label for="content" th:value="Содержание"></label>
          <textarea id="content" class="textarea" placeholder="Enter text ..." style="width: 810px; height: 200px"
                    th:field="*{content}"/>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

</main>

<th:block layout:fragment="script">

  <script th:src="@{/resources/js/wysihtml5/wysihtml5-0.3.0.min.js}"></script>
  <script th:src="@{/resources/js/jquery/jquery.min.js}"></script>
  <script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
  <script th:src="@{/resources/js/handlebars/handlebars.runtime.min.js}"></script>
  <script th:src="@{/resources/js/wysihtml5/bootstrap3-wysihtml5.min.js}"></script>

<!--  <script th:src="@{/resources/js/wysihtml5/wysihtml5x-toolbar.min.js}"></script>
  <script th:src="@{/resources/js/jquery/jquery-1.7.2.js}"></script>
  <script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
  <script th:src="@{/resources/js/wysihtml5/bootstrap3-wysihtml5.js}"></script>-->
  <script th:inline="javascript">
    /*<![CDATA[*/
    $('.textarea').wysihtml5({
      toolbar: {
        fa:true
      }
    });
    /*]]>*/
  </script>
</th:block>

</body>
</html>