<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
  <title>Статьи</title>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/wysihtml5/bootstrap3-wysihtml5-editor.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/wysihtml5/bootstrap3-wysihtml5.css}"/>

</head>
<body>

<main layout:fragment="content">

  <div class='page-header page-header-with-icon'>
    <i class='fa-icon-table'></i>
    <h3>Новая статья</h3>
  </div>


  <div class="row row-centered">
    <div class="col-md-10 col-centered" role="main">

      <form th:with="edit=1" th:action="@{'/admin/archivevideo/'+${arhivevideo.id}+'/edit'}" th:object="${arhivevideo}" method="post">
        <div class="form-group">
          <label for="title">Название</label>
          <input id="title" class="form-control" type="text" name="title" maxlength="100" th:field="*{title}"/>
        </div>

        <div class="form-group">
          <label for="url">Ссылка на видео</label>
          <textarea id="url" class="textarea form-control wysihtml5-editor placeholder" placeholder="Ссылка на видео ..."
                             th:field="*{url}" style="width: 810px; height: 90px" maxlength="350" />
        </div>

        <div class="form-group">
          <label for="summary" text="Краткое описание"/>
          <textarea id="summary" class="textarea form-control wysihtml5-editor placeholder" placeholder="Краткое описание ..."
                    th:field="*{summary}" style="width: 810px; height: 250px" maxlength="350" rows="3"/>
        </div>

        <div class="form-group">
          <label for="content" text="Полный текст"/>
          <textarea id="content" class="textarea form-control wysihtml5-editor placeholder" placeholder="Полный текст ..."
                    th:field="*{content}" style="width: 810px; height: 300px"  />
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

</main>

<th:block layout:fragment="script">

  <script th:src="@{/resources/js/wysihtml5/wysihtml5x-toolbar.min.js}"></script>
  <script th:src="@{/resources/js/wysihtml5/bootstrap3-wysihtml5.js}"></script>

  <script th:inline="javascript">
    /*<![CDATA[*/
    $('.textarea').wysihtml5({
      html:true,
      stylesheets: ["wysihtml5/bootstrap3-wysihtml5-editor.min.css"]
    });
    /*]]>*/
  </script>
</th:block>

</body>
</html>