<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head lang="ru">
  <meta charset="UTF-8"/>
  <title>Архив</title>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'/>
</head>
<body class='faq-page'>

  <div id='wrapper'>

    <main layout:fragment="content">
      <div id='main' role='main'>
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>Архив</h1>
                <ol class='breadcrumb'>
                  <li>
                    <a href='index.html'>
                      <i class='fa-icon-home'></i>
                    </a>
                  </li>
                  <li class='active'>Архив</li>
                </ol>
                <small/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id='main-content'>
        <div class='container'>
          <div class="row">
            <div class='col-sm-12'>
              <div class='page-header page-header-with-icon no-mg-t'>

                <!-- Видео архив-->
                  <div th:each="archive : ${archiveList}" class="text-boxes">
                    <div class='row text-box text-box-title-above'>
                      <div class='col-sm-12'>
                        <h2 class="title"><a th:href="@{'/video/archive/'+${archive.id}}" th:text="${archive.title}"/></h2>
                        <div class="toolbar">
                          <a class='btn btn-link' th:href="@{/}">
                            <i class="fa-icon-calendar-empty"></i>
                            <time th:datetime-local="ru" th:datetime="${archive.createdAt}" th:text='${#dates.format(archive.createdAt, "dd MMMM yyyy HH:mm")}'/>
                          </a>
                        </div>
                        <div class='row'>
                          <div class='col-sm-12'>
                            <p class="text-justify" th:utext="${archive.summary}"/>
                            <a class="btn btn-contrast btn-bordered btn-xs" th:href="@{'/video/archive/'+${archive.id}}">Смотреть</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class='hr-half'/>
                  </div>

                  <!-- Paging -->
                  <nav>
                    <div class="text-center">
                      <ul class="pagination">
                        <li th:if="${paginationInfo.previousVisible}">
                          <a th:href="@{'/video/archive/'(page=${paginationInfo.previousPageNumber})}" >
                            <i class="fa-icon-angle-left"/>
                          </a>
                        </li>

                        <li th:each="element : ${paginationInfo.pageElement}" >

                        <li  th:if="${element.navigable}">
                          <a th:href="@{'/video/archive/'(page=${element.label})}" th:text="${element.label}" />
                        </li>
                        <li th:if="${!element.navigable and element.currentPage}" class="active">
                          <a class="disabled" th:text="${element.label}" />
                        </li>
                        <li th:unless="${element.navigable or element.currentPage}">
                          <a th:text="${element.label}" />
                        </li>
                        </li>
                        <li th:if="${paginationInfo.nextVisible}">
                          <a th:href="@{'/video/archive/'(page=${paginationInfo.nextPageNumber})}">
                            <i class="fa-icon-angle-right"/>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </nav>

              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

  </div>

</body>
</html>