<!DOCTYPE html>
<!--
  Name: Jednotka - Multipurpose Template
  Author: http://themeforest.net/user/BublinaStudio
  Version: 1.0
-->
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <!-- <![endif] -->
  <head>
    <title>Контакты</title>

  </head>
  <body class='faq-page'>
    <div id='wrapper'>

      <main layout:fragment="content">
        <div id='main' role='main'>
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>Контакты</h1>
              </div>
            </div>
          </div>
        </div>
        <div id='main-content'>
          <div class='container'>

            <div class="row">
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon no-mg-t'>
                  <h2>Тхостов Константин Эдуардович</h2>
                </div>
              </div>
            </div>

            <div class="row text-center">
              <div class='col-sm-3' th:each="contact : ${contactBlocks}">
                <div class='icon-wrap icon-circle contrast-bg icon-md'>
                  <!--<i class='fa-icon-map-marker text-white' th:classappend="${contact.icon}"></i>-->
                  <i class='text-white' th:classappend="${contact.icon}"></i>
                </div>
                <h3 th:text="${contact.title}"/>
                <div th:utext="${contact.text}"/>
              </div>
            </div>

            <!--<div class='row text-center'>
              <div class='col-sm-3'>
                <div class='icon-wrap icon-circle contrast-bg icon-md'>
                  <i class='fa-icon-map-marker text-white'></i>
                </div>
                <h3>Адрес</h3>
                <ul class='list-unstyled'>
                  <li>улица Маршала Захарова, 56</li>
                  <li>Санкт-Петербург</li>
                  <li>Россия</li>
                </ul>
              </div>
              <div class='col-sm-3'>
                <div class='icon-wrap icon-circle contrast-bg icon-md'>
                  <i class='fa-icon-phone text-white'></i>
                </div>
                <h3>Телефон</h3>
                <ul class='list-unstyled'>
                  <li><a href="tel:+012345678910">+812 345 678 910</a></li>
                  <li><a href="tel:+012345678911">+812 345 678 911</a></li>
                  <li><a href="tel:+012345678911">+812 345 678 911</a></li>
                </ul>
              </div>
              <div class='col-sm-3'>
                <div class='icon-wrap icon-circle contrast-bg icon-md'>
                  <i class='fa-icon-envelope-alt text-white'></i>
                </div>
                <h3>E-Mail</h3>
                <ul class='list-unstyled'>
                  <li><a href="mailto:info@domain.com">info@domain.com</a></li>
                  <li><a href="mailto:support@domain.com">support@domain.com</a></li>
                  <li><a href="mailto:director@domain.com">director@domain.com</a></li>
                </ul>
              </div>
              <div class='col-sm-3'>
                <div class='icon-wrap icon-circle contrast-bg icon-md'>
                  <i class='fa-icon-time text-white'></i>
                </div>
                <h3>Business hours</h3>
                <ul class='list-unstyled'>
                  <li>
                    Понедельник - Пятница
                    &mdash;
                    <strong>08:00 - 18:00</strong>
                  </li>
                  <li>
                    Суббота
                    &mdash;
                    <strong>10:00 - 15:00</strong>
                  </li>
                  <li>
                    Воскресение
                    &mdash;
                    <strong>11:00 - 13:00</strong>
                  </li>
                </ul>
              </div>
            </div>-->

          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
      </main>
    </div>

  </body>
</html>
