<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop">

  <mvc:annotation-driven conversion-service="conversionService"/>

  <mvc:view-controller path="/" view-name="index"/>
    
  <mvc:resources mapping="/resources/**" location="/resources/" />

  <context:component-scan base-package="com.hvost"/>

  <jpa:repositories base-package="com.hvost"/>


    <!-- Application Message Bundle -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="5"/>
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="ru" />
    </bean>

    <bean id="messageResolver" class="org.thymeleaf.spring4.messageresolver.SpringMessageResolver">
        <property name="messageSource" ref="messageSource"/>
    </bean>

  <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
    <property name="validationMessageSource" ref="messageSource"/>
  </bean>


    <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
    <property name="prefix" value="/WEB-INF/pages/"/>
    <property name="suffix" value=".html"/>
    <property name="templateMode" value="HTML5"/>
    <property name="characterEncoding" value="UTF8"/>
    <property name="cacheable" value="false"/>
  </bean>

  <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
    <property name="templateResolver" ref="templateResolver"/>
      <property name="additionalDialects">
        <set>
          <bean class="nz.net.ultraq.thymeleaf.LayoutDialect"/>
          <bean class="org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect"/>
        </set>
      </property>
  </bean>

  <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine" />
    <property name="contentType" value="text/html; charset=UTF-8"/>
  </bean>

  <mvc:interceptors>
    <bean class="com.hvost.support.navigation.Navigable"  />
  </mvc:interceptors>

  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" >
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/dbhvost?characterEncoding=UTF-8&amp;autoReconnect=true"/>
    <property name="username" value="root"/>
    <property name="password" value=""/>
    <property name="testOnBorrow" value="true"/>
    <property name="validationQuery" value="select 1"/>
  </bean>

<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        &lt;!&ndash;<property name="url" value="jdbc:mysql://${OPENSHIFT_MYSQL_DB_HOST}:${OPENSHIFT_MYSQL_DB_PORT}/${OPENSHIFT_APP_NAME}" />&ndash;&gt;
        <property name="url" value="jdbc:mysql://127.6.253.2:3306/sitewar?characterEncoding=UTF-8&amp;autoReconnect=true"/>
        <property name="username" value="${OPENSHIFT_MYSQL_DB_USERNAME}" />
        <property name="password" value="${OPENSHIFT_MYSQL_DB_PASSWORD}" />
    </bean>-->

  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
    <property name="persistenceUnitName" value="persistenceUnit"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- Transaction Manager -->
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" >
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>

    <context:property-placeholder location="classpath*:twitter.properties"/>

    <bean id="tweet" class="org.springframework.social.twitter.api.impl.TwitterTemplate">
        <constructor-arg name="consumerKey" value="${twitter.consumerKey}"/>
        <constructor-arg name="consumerSecret" value="${twitter.consumerSecret}"/>
        <constructor-arg name="accessToken" value="${twitter.accessToken}"/>
        <constructor-arg name="accessTokenSecret" value="${twitter.accessTokenSecret}"/>

    </bean>

    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="formatters">
            <set>
                <ref bean="categoryPostFormatter" />
            </set>
        </property>
    </bean>

  <bean id="uih" class="com.hvost.support.navigation.ViewRenderingHelper" scope="request"/>

  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
      <property name="host" value="smtp.gmail.com"/>
      <property name="port" value="587"/>
      <property name="username" value="bochkanov.dm@gmail.com"/>
      <property name="password" value="14together"/>
      <property name="defaultEncoding" value="UTF-8"/>
      <property name="javaMailProperties">
          <props>
              <prop key="mail.transport.protocol">smtp</prop>
              <prop key="mail.smtp.auth">true</prop>
              <prop key="mail.smtp.starttls.enable">true</prop>
              <prop key="mail.debug">true</prop>
          </props>
      </property>
  </bean>


    <!-- Spring Social -->
<!--   <bean id="connectionFactoryLocator" class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
        <property name="connectionFactories">
            <list>
                <bean class="org.springframework.social.twitter.connect.TwitterConnectionFactory">
                    <constructor-arg value="${twitter.consumerKey}" />
                    <constructor-arg value="${twitter.consumerSecret}" />
                </bean>
            </list>
        </property>
    </bean>

    <bean id="textEncryptor" class="org.springframework.security.crypto.encrypt.Encryptors"
          factory-method="noOpText" />

    <bean id="usersConnectionRepository"
          class="org.springframework.social.connect.jdbc.JdbcUsersConnectionRepository">
        <constructor-arg ref="dataSource" />
        <constructor-arg ref="connectionFactoryLocator" />
        <constructor-arg ref="textEncryptor" />
    </bean>

    <bean id="connectionRepository" factory-method="createConnectionRepository"
          factory-bean="usersConnectionRepository" scope="request">
        <constructor-arg value="#{request.userPrincipal.name}" />
        <aop:scoped-proxy proxy-target-class="false" />
    </bean>


    <bean id="twitter" factory-method="findPrimaryConnection"
          factory-bean="connectionRepository" scope="request" depends-on="connectionRepository">
        <constructor-arg value="org.springframework.social.twitter.api.Twitter" />
        <aop:scoped-proxy proxy-target-class="false" />
    </bean>-->

   <!-- <bean id="paginationInfo" class=""/>-->

    <import resource="spring-security.xml" />

  <tx:annotation-driven/>
</beans>