
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>CATEGORIES</title>
</head>
<body>
<h3>before header page</h3>
<div layout:fragment="header-container"></div>
<h3>after   header page</h3>

<div layout:fragment="content">
    <main>
       <div th:each="category : ${categories}">
         <a href="hello1.jsp" th:href="@{category.url}" th:text="${category.url}"/>
         <p th:text="${category.name}"></p>
       </div>
    </main>

    <input type="button" class="btn" value="test"/>
</div>
</body>
</html>