<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
  <meta charset="UTF-8"/>
  <title></title>
</head>
<body>
<div layout:fragment="tweet">


<div class="row">
  <div class="carousel carousel-default slide carousel-auto" id="carouselForTweet">
    <div class="carousel-inner">
      <div th:each="tweet,idTweet : ${tweets}" class="item" th:classappend="${idTweet.index == 0}? active">
        <div class="col-sm-12 text-center">
          <p class="lead" th:utext="${tweet}"/>
          <!--<p class="lead" th:utext="${tweet.getText()}"/>
          <div class="author-wrapper">
            <time th:datetime-local="ru" th:datetime="${tweet.getCreatedAt()}" th:text='${#dates.format(tweet.getCreatedAt(), "dd MMMM yyyy HH:mm")}'/>
          </div>-->
        </div>
      </div>

    </div>
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#carouselForTweet"></li>
      <li data-slide-to="1" data-target="#carouselForTweet"></li>
      <li data-slide-to="2" data-target="#carouselForTweet"></li>
      <li data-slide-to="3" data-target="#carouselForTweet"></li>
      <li data-slide-to="4" data-target="#carouselForTweet"></li>
    </ol>
  </div>
</div>
</div>
<th:block layout:fragment="script">
  <script>
    $('#carouselForTweet').carousel({
      interval:7000
    });
  </script>
  </th:block>


</body>
</html>