<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
  <title>Статьи</title>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/wysihtml5/bootstrap3-wysihtml5-editor.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/wysihtml5/bootstrap3-wysihtml5.css}"/>

</head>
<body>


<main layout:fragment="content">

  <div class='page-header page-header-with-icon'>
    <i class='fa-icon-table'></i>
    <h3>Статья</h3>
  </div>


  <div class="row row-centered">
    <div class="col-md-10 col-centered" role="main">
      <form th:with="edit=1" th:action="@{'/admin/startpage/carousel/'+${carousel.id}+'/edit'}" th:object="${carousel}" method="post">

        <div class="form-group">
          <label for="content" th:value="Содержание"></label>
          <textarea id="content" class="textarea form-control wysihtml5-editor placeholder" placeholder="Enter text ..."
                    th:field="*{content}" style="width: 810px; height: 250px" />
        </div>

        <button type="submit" class="btn btn-default">Обновить</button>
      </form>
    </div>
  </div>

</main>

<th:block layout:fragment="script">

  <script th:src="@{/resources/js/wysihtml5/wysihtml5x-toolbar.min.js}"></script>
  <script th:src="@{/resources/js/wysihtml5/bootstrap3-wysihtml5.js}"></script>

  <script th:inline="javascript">
    /*<![CDATA[*/
    $('.textarea').wysihtml5({
      html:true, stylesheets: ["wysihtml5/bootstrap3-wysihtml5-editor.min.css"]
    });
    /*]]>*/
  </script>
</th:block>

</body>
</html>