<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
  <title>Новый блок</title>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/wysihtml5/bootstrap3-wysihtml5-editor.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/wysihtml5/bootstrap3-wysihtml5.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/select2/select2.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/select2/select2-bootstrap.css}"/>

</head>
<body>

<main layout:fragment="content">

  <div class='page-header page-header-with-icon'>
    <i class='fa-icon-table'></i>
    <h3>Новый блок</h3>
  </div>

  <div class="row row-centered">
    <div class="col-md-12 col-centered" role="main">
      <form id="new_carousel" name="new_carousel" th:with="create=1" th:action="@{/admin/startpage/addcarousel}" th:object="${carousel}" method="post" class="form-horizontal form-label-left">

        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Заголовок<small></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="title">Заголовок <span class="required">*</span></label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <!--<input type="text" id="title" required="required" th:field="*{title}" class="form-control col-md-7 col-xs-12" placeholder="Заголовок"/>-->
                  <div class="col-md-12 col-xs-12">
                    <textarea type="text" id="title" name="title" th:field="*{title}" class="form-control col-md-7 col-xs-12 textarea form-control wysihtml5-editor placeholder" placeholder="Текст блока ..."/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="titleAnimate" class="control-label col-md-2 col-sm-2 col-xs-12">Стиль анимации</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control" id="titleAnimate" th:field="*{titleClass}">
                    <option th:each="animate : ${animateClasses.entrySet()}"
                            th:value="${animate.key}"
                            th:text="${animate.value}"/>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Основной текст <small></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Текст <span class="required">*</span></label>
                <div class="col-md-10 col-xs-12">
                  <textarea type="text" id="content" name="content" required="required" th:field="*{content}" class="form-control col-md-7 col-xs-12 textarea form-control wysihtml5-editor placeholder" placeholder="Текст блока ..."/>
                </div>
              </div>

              <div class="form-group">
                <label for="contentAnimate" class="control-label col-md-2 col-sm-2 col-xs-12">Стиль анимации</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control" id="contentAnimate" th:field="*{contentClass}">
                    <option th:each="animate : ${animateClasses.entrySet()}"
                            th:value="${animate.key}"
                            th:text="${animate.value}"/>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Ссылка</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br/>

              <div class="col-md-6 col-xs-12">

                <div class="form-group">
                  <label class="control-label col-md-2 col-sm2 col-xs-12" for="linkType">Тип ссылки</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" id="linkType" name="linkType">
                      <option th:each="linkType : ${linkTypes.entrySet()}"
                              th:value="${linkType.key}"
                              th:text="${linkType.value}"/>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="linkAnimate" class="control-label col-md-2 col-sm-2 col-xs-12">Стиль анимации</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" id="linkAnimate" th:field="*{linkClass}">
                      <option th:each="animate : ${animateClasses.entrySet()}"
                              th:value="${animate.key}"
                              th:text="${animate.value}"/>
                    </select>
                  </div>
                </div>

              </div>

              <div class="col-md-6 col-xs-12">
                <div class="form-group">

                  <div id="postsLinkDiv" class="col-xs-12 linkTypeClass">
                    <label for="postsLink">Список статей</label>
                    <select id="postsLink" name="postsLink" class="form-control js-data-example-ajax">
                      <option value="3620194" selected="selected">select2/select2</option>
                    </select>
                  </div>
                  <div id="lineOnLinkDiv" class="col-xs-12 linkTypeClass">
                    <label for="lineOnLink">Список видеопередач "Прямая линия"</label>
                    <select id="lineOnLink" name="lineOnLink" class="form-control js-data-example-ajax">
                      <option value="3620194" selected="selected">select2/select2</option>
                    </select>
                  </div>
                  <div id="extLinkDiv" class="col-xs-12 linkTypeClass">
                    <label for="extLink">Ссылка на внешний ресурс (сайт)</label>
                    <div class="input-group">
                      <span class="input-group-addon">http://</span>
                      <input type="text" id="extLink" name="extLink" class="form-control col-md-7 col-xs-12"
                             placeholder="Внешняя ссылка" th:field="*{link}"/>
                    </div>
                  </div>

                </div>
              </div>

             </div>
          </div>
        </div>


<!--        <div class="form-group">
          <label for="summary" th:text="Текст"/>
          <textarea id="summary" class="textarea form-control wysihtml5-editor placeholder" placeholder="Текст блока ..."
                    th:field="*{content}" style="width: 810px; height: 250px" maxlength="350"/>
        </div>


        <div class="form-group">
          <label for="link" th:text="Ссылка"/>
          <input id="link" th:field="*{link}" maxlength="50" placeholder="Заголовок"/>
        </div>

        <div id="testtest" class="form-group">
          <label for="article">Анимация заголовка</label>
          <div class="dropdown">
            <select id="article" th:field="*{contentClass}">
              <option th:each="linkType : ${linkTypes}"
                      th:value="${linkType}"
                      th:text="${linkType}"/>
            </select>
          </div>
        </div>-->
        <div class="form-group">
          <div class="col-md-12 col-xs-12">
            <button type="submit" class="btn btn-default">Добавить</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</main>

<th:block layout:fragment="script">

  <script th:src="@{/resources/js/jquery/jquery.validate.min.js}"       type="text/javascript"></script>
  <script th:src="@{/resources/js/pages/newcarousel.js}"                type="text/javascript"></script>
  <script th:src="@{/resources/js/wysihtml5/wysihtml5x-toolbar.min.js}" type="text/javascript"></script>
  <script th:src="@{/resources/js/wysihtml5/bootstrap3-wysihtml5.js}"   type="text/javascript"></script>
  <script th:src="@{/resources/js/select2/select2.full.js}"             type="text/javascript"></script>

  <script th:inline="javascript">
    /*<![CDATA[*/
    function formatPost (post){
      if (post.loading) return post.text;

      var markup = '<div class="clearfix">' +
                     '<div class="col-sm-6">' + post.title + '</div>' +
                     '<div class="col-sm-6">' + post.summary + '</div>' +
                   '</div>';

      return markup;
    }


    function formatPostSelection(post){
      return post.title;
    }


    var testEl = null;

    $(".js-data-example-ajax").select2({

      ajax: {

        type: 'POST',
        url:  function() {
          return /*[+ [[@{/admin/}]] + $(testEl).attr('name') + '/search'  +]*/;
       //   return '/visitka/admin/postsLink/search';
        },
     //   url: /*[+ [[@{/admin/}]] + $(testEl).attr('name') + '/search'  +]*/,
        //url: /*[[@{/admin/blog/search}]]*/,

/*        headers:{
          Accept: "application/json; charset=utf-8",
          "Content-Type": "application/json; charset=utf-8"
        },*/
//        contentType : 'application/json; charset=utf-8',
        delay: 250,
//        dataType: 'json',
        data: function(param) {
          return {
            //search: JSON.stringify(param.term)
            q: param.term
          }
        },
        processResults: function (data) {
          return {
            results: data
          };
        },
        results: function(data, page){
          return {
            results: data.id
          };
        },
        cache: false
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 1,
      templateResult: formatPost, // omitted for brevity, see the source of this page
      templateSelection: formatPostSelection // omitted for brevity, see the source of this page
    //  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
    }).on("select2:open", function(e){
      testEl = e.currentTarget;
    });
    /*]]>*/
  </script>

  <script th:inline="javascript">
    /*<![CDATA[*/
    $('.textarea').wysihtml5({
      "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
      "emphasis":    true, //Italics, bold, etc. Default true
      "color":       true, //Button to change color of font
      "lists":       false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
      "html":        false, //Button which allows you to edit the generated HTML. Default false
      "link":        false, //Button to insert a link. Default true
      "image":       false, //Button to insert an image. Default true,
      "video":       false, //Button to change color of font
      "html":        true,
      stylesheets: /*[[@{/resources/css/wysihtml5/bootstrap3-wysihtml5-editor.min.css}]]*/
    });
    /*]]>*/
  </script>

  <script th:inline="javascript">
    /*<![CDATA[*/

    var curVal = $('#linkType').val();
    console.log("curVal = " + curVal);
    $(".linkTypeClass").each(function (){
      var idLinkType = $(this).attr('id');
      console.log("value = " + idLinkType);
      console.log("indexOf = " + idLinkType.indexOf(curVal));

      if (idLinkType.indexOf(curVal) != 0){
        $(this).hide();
      }
    });
    console.log("curVal = " + curVal);


    $('#linkType').change( function(eventObject){
      var val = $(this).val();
      $(".linkTypeClass").hide();
      $("#" + val + "Div").show();
    });
    /*]]>*/
  </script>

  <!--<script th:inline="javascript">
    /*<![CDATA[*/
    $('#linkType').change( function(eventObject){
      $.ajax({
        type: 'GET',
        url: /*[[@{/admin/blog/allarticles1}]]*/,
        headers:{
          Accept: "application/json; charset=utf-8",
          "Content-Type": "application/json; charset=utf-8"
        },
        beforeSend: function(){
          $('#test').html('<p class="text-center"><img th:src="@{/resources/img/ajax-loader.gif}"/></p>');
        },
        success: function(data){
          console.log("data -> " + data);

          var result = "<select class='select2_single form-control' tabindex='-1'>";
          for (var i = 0; i < data.length; i++){
            result += "<option value='" + data[i].title + "'>" + data[i].title + "</option>"
            console.log(data[i].title);
          }
          result += "</select>"
      //    var obj = JSON.parse(data);
          $('#test').html(result);

          $(".select2_single").select2({
            placeholder: "Select a state",
            allowClear: true
          });

        }
      });
//      console.log(eventObject);

    });

    /*]]>*/
  </script>
-->
</th:block>



</body>
</html>