<!DOCTYPE html>
<!--
  Name: Jednotka - Multipurpose Template
  Author: http://themeforest.net/user/BublinaStudio
  Version: 1.0
-->
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <!-- <![endif] -->
  <head>
    <title>Биография</title>

  </head>
  <body class=''>
    <div id='wrapper'>

      <main layout:fragment="content">
        <div id='main' role='main'>
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>Биография</h1>
              </div>
            </div>
          </div>
        </div>
        <div id='main-content'>
          <div class='container'>

            <!--<div th:utext="${biography.text}"></div>-->

            <div class='col-sm-12 icon-boxes icon-boxes-lg'>
              <div class="row" th:each="biografy, iterStat : ${biografyBlocks}" th:if="${iterStat.even}">
                <div class='col-sm-6 icon-box' th:with="leftBlock=${biografyBlocks.get(iterStat.index)}">
                  <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                    <i class='text-white' th:classappend="${leftBlock.imageName}"></i>
                  </div>
                  <div class='content'>
                    <h3 class='title' th:text="${leftBlock.title}"/>
                    <div th:utext="${leftBlock.text}"/>
                  </div>
                </div>
                <div class='col-sm-6 icon-box' th:if="${iterStat.index + 1 &lt; biografyBlocks.size()}" th:with="rightBlock=${biografyBlocks.get(iterStat.index + 1)}">
                  <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                    <i class='text-white' th:classappend="${rightBlock.imageName}"></i>
                  </div>
                  <div class='content'>
                    <h3 class='title' th:text="${rightBlock.title}"/>
                    <div th:utext="${rightBlock.text}"/>
                  </div>
                </div>
              </div>
            </div>

            <!-- New version-->
           <!-- <div class="row">
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon no-mg-t'>
                  <h2>Тхостов Константин Эдуардович</h2>
                </div>
              </div>
              <div class='icon-boxes icon-boxes-lg'>
                <div class='row'>
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-info text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Общие сведения</h3>
                      <dl class="dl-horizontal">
                        <dt> Дата рождения</dt>
                        <dd>01.01.1973</dd>
                        <dt>Место работы</dt>
                        <dd>ГОУ лицей №369</dd>
                        <dt>Должность</dt>
                        <dd>директор</dd>
                        <dt>Стаж работы</dt>
                        <dd>9,5 лет</dd>
                      </dl>
                    </div>
                  </div>
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-level-up text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Карьерный рост</h3>
                      <ul>
                        <li>1996 - 2000 г.г. – учитель математики;</li>
                        <li>2000 - 2001 г.г. – заместитель директора по воспитательной работе;</li>
                        <li>2001 - настоящее время – директор.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-book text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Образование</h3>
                      <ol>
                        <li>Высшее профессиональное: Прикарпатский Университет, («Математика и физика»).</li>
                        <li>Высшее профессиональное: ФГОУ ВПО «Санкт-Петербургский государственный университет»; («Государственное и муниципальное управление»).</li>
                      </ol>
                    </div>
                  </div>
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-briefcase text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Профессиональная переподготовка</h3>
                      <ul>
                        <li>2010г. – Президентская программа подготовки управленческих кадров: ФГОУ ВПО «Санкт-Петербургский государственный университет» (Высшая школа менеджмента);</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-gift text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Личные профессиональные достижения</h3>
                      <ul>
                        <li>1998г. – лауреат международного конкурса учителей;</li>
                        <li>2009г. – победитель конкурса «Лучший руководитель образовательного учреждения Санкт-Петербурга»;</li>
                        <li>2010г. – победитель Всероссийского конкурса «Управление современной школой»;</li>
                        <li>2010г. – III место в конкурсе Губернатора Санкт-Петербурга «Лучший проект Президентской программы 2010г.»</li>
                      </ul>
                    </div>
                  </div>
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-trophy text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Награды</h3>
                      <ul>
                        <li>Медаль «В память 300-летия Санкт-Петербурга»</li>
                        <li>Почетная грамота Министерства образования Российской Федерации</li>
                        <li>Нагрудный знак «Почетный работник общего образования Российской Федерации»</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-group text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Вхожу в состав</h3>
                      <ul>
                        <li>Коллегии Комитета по образованию Санкт-Петербурга</li>
                        <li>Экспертного совета по общему образованию при Комитете по образованию Государственной Думы РФ.</li>
                      </ul>
                    </div>
                    <br/><br/>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-ok text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>Квалификация</h3>
                      Имею высшую квалификационную категорию по должности «Руководитель»
                    </div>

                  </div>
                  <div class='col-sm-6 icon-box'>
                    <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                      <i class='fa-icon-building text-white'></i>
                    </div>
                    <div class='content'>
                      <h3 class='title'>ГОУ лицей № 369</h3>

                          <ul>
                            <li>1984 - открытие школы.</li>
                            <li>1985-1995 – пилотная школа проекта «Школа-ВУЗ».</li>
                            <li>1986 – открытие музея «Юнги Северного флота, посвященного Соловецкой школе юнг ВМФ (функционирует до сих пор).</li>
                            <li>2004 – получение статуса районной экспериментальной площадки по теме «Разработка модели современной школы как гаранта демократичности, образованности, культуры и сохранения здоровья».</li>
                            <li>2004 – открытие структурного подразделения – Отделение дополнительного образования по физической культуре и спорту.</li>
                            <li>2006 – успешная аккредитация и получение статуса Лицей.</li>
                            <li>2006 – получение статуса федеральной экспериментальной площадки.</li>
                            <li>2007 – получение статуса ресурсного центра Красносельского района.</li>
                            <li>2008 – победа в конкурсе общеобразовательных учреждений, внедряющих инновационные образовательные программы в рамках ПНП «Образоание».</li>
                            <li>2009 – Грамота Правительства Санкт-Петербурга за выдающиеся достижения в области физической культуры и спорта.</li>
                            <li>2010 – 1 место среди всех общеобразовательных учреждений Красносельского района по числу победителей и призеров Всероссийских предметных олимпиад школьников – присвоение звания «Звездная школа».</li>
                            <li>2010 – 1 место в общегородской Спартакиаде школьников Санкт-Петербурга.</li>
                            <li>2010 – общекомандное 1 место в городской Олимпиаде школьников по физической культуре</li>
                            <li>2010 - победа в конкурсе образовательных учреждений – номинация «Лидер года».</li>
                            <li>2011 – успешное подтверждение статуса «Лицей».</li>
                          </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>-->


<!-- Старая версия-->
           <!-- <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon no-mg-t'>
                  <i class='fa-icon-tag'></i>
                  <h2>
                    Тхостов Константин Эдуардович
                  </h2>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <dl class="dl-horizontal">
                      <dt> Дата рождения</dt>
                      <dd>01.01.1973</dd>
                      <dt>Место работы</dt>
                      <dd>ГОУ лицей №369</dd>
                      <dt>Должность</dt>
                      <dd>директор</dd>
                      <dt>Стаж работы</dt>
                      <dd>9,5 лет</dd>
                    </dl>

                    <dl>
                      <dt>Этапы карьерного роста:</dt>
                      <dd>
                        <ul>
                          <li>1996 - 2000 г.г. – учитель математики;</li>
                          <li>2000 - 2001 г.г. – заместитель директора по воспитательной работе;</li>
                          <li>2001 - настоящее время – директор.</li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt>Образование:</dt>
                      <dd>
                        <ol>
                          <li>Высшее профессиональное: Прикарпатский Университет, («Математика и физика»).</li>
                          <li>Высшее профессиональное: ФГОУ ВПО «Санкт-Петербургский государственный университет»; («Государственное и муниципальное управление»).</li>
                        </ol>
                      </dd>
                    </dl>

                    <dl>
                      <dt>Сведения о подготовке, профессиональной переподготовке:</dt>
                      <dd>
                        <ul>
                          <li>2010г. – Президентская программа подготовки управленческих кадров: ФГОУ ВПО «Санкт-Петербургский государственный университет» (Высшая школа менеджмента);</li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt>Личные профессиональные достижения:</dt>
                      <dd>
                        <ul>
                          <li>1998г. – лауреат международного конкурса учителей;</li>
                          <li>2009г. – победитель конкурса «Лучший руководитель образовательного учреждения Санкт-Петербурга»;</li>
                          <li>2010г. – победитель Всероссийского конкурса «Управление современной школой»;</li>
                          <li>2010г. – III место в конкурсе Губернатора Санкт-Петербурга «Лучший проект Президентской программы 2010г.»</li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt>Награжден:</dt>
                      <dd>
                        <ul>
                          <li>Медалью «В память 300-летия Санкт-Петербурга»</li>
                          <li>Почетной грамотой Министерства образования Российской Федерации</li>
                          <li>Нагрудным знаком «Почетный работник общего образования Российской Федерации»</li>
                        </ul>
                      </dd>
                    </dl>

                    Имею высшую квалификационную категорию по должности «Руководитель».<br/><br/>

                    <dl>
                      <dt>Вхожу в состав:</dt>
                      <dd>
                        <ul>
                          <li>Коллегии Комитета по образованию Санкт-Петербурга;</li>
                          <li>Экспертного совета по общему образованию при Комитете по образованию Государственной Думы РФ.</li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt>ГОУ лицей № 369:</dt>
                      <dd>
                        <ul>
                          <li>1984 - открытие школы.</li>
                          <li>1985-1995 – пилотная школа проекта «Школа-ВУЗ».</li>
                          <li>1986 – открытие музея «Юнги Северного флота, посвященного Соловецкой школе юнг ВМФ (функционирует до сих пор).</li>
                          <li>2004 – получение статуса районной экспериментальной площадки по теме «Разработка модели современной школы как гаранта демократичности, образованности, культуры и сохранения здоровья».</li>
                          <li>2004 – открытие структурного подразделения – Отделение дополнительного образования по физической культуре и спорту.</li>
                          <li>2006 – успешная аккредитация и получение статуса Лицей.</li>
                          <li>2006 – получение статуса федеральной экспериментальной площадки.</li>
                          <li>2007 – получение статуса ресурсного центра Красносельского района.</li>
                          <li>2008 – победа в конкурсе общеобразовательных учреждений, внедряющих инновационные образовательные программы в рамках ПНП «Образоание».</li>
                          <li>2009 – Грамота Правительства Санкт-Петербурга за выдающиеся достижения в области физической культуры и спорта.</li>
                          <li>2010 – 1 место среди всех общеобразовательных учреждений Красносельского района по числу победителей и призеров Всероссийских предметных олимпиад школьников – присвоение звания «Звездная школа».</li>
                          <li>2010 – 1 место в общегородской Спартакиаде школьников Санкт-Петербурга.</li>
                          <li>2010 – общекомандное 1 место в городской Олимпиаде школьников по физической культуре</li>
                          <li>2010 - победа в конкурсе образовательных учреждений – номинация «Лидер года».</li>
                          <li>2011 – успешное подтверждение статуса «Лицей».</li>
                        </ul>
                      </dd>
                    </dl>

                  </div>
                </div>
              </div>
            </div>-->


          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
      </main>
    </div>
    
    <!-- / not required javascripts -->
    <script src="assets/javascripts/demo.js" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-44249116-1', 'bublinastudio.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
